@media screen and (max-width: 1280px){
  .album{
    width: calc((100% - 50px) / 4);
  }

  .recently{
    flex-wrap: wrap;
  }
  
}

@media screen and (max-width: 736px) {
  .album{
    width: calc((100% - 50px) / 2);
  }
  
}

@media screen and (max-width: 550px) {
  .menu-aside,
  .playlist,
  .bottom-aside{
    display: none;
  }


  aside{
    width: 50px;
    padding: 10px;
  }

  .aside-smartphone{
    display: block;
  }

  .aside-smartphone img{
    margin-bottom: 5px;
  }

  .container .premium{
    width: calc( 100% - 50px);
  }

}