/* MAIN */

main{
  display: flex;
  height: calc(100vh - 100px);
}


/* ASIDE */

.aside-smartphone{
  display: none;
}

aside{
  width: 250px;
  flex-shrink: 0;
  background-color: black;
  color: #6f6f6f;
  height: 100%;
}

.logo{
  margin: 10px;
}
.logo img{
  width: 75%;
}

.icon-menu {
  line-height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
}
.menu-aside{
  height: 200px;
  overflow: auto;
}

.icon-menu img{
  width: 15%;
  vertical-align: middle;
}

.playlist{
  height: calc(100% - 200px);
  overflow: hidden;
  padding-left: 10px;
}

.playlist ul{
  overflow: auto;
  height: calc(100% - 80px);
}

.playlist h4{
  color: white;
  margin-bottom: 20px;
}

.playlist i{
  font-size: 40px;
  vertical-align: middle;
}

.ul-aside li{
  margin: 10px 0 10px 0;
}

.top-aside{
  height: calc(100% - 80px);
  overflow: hidden;
}

.bottom-aside{
 height: 80px;
 padding: 10px;
}

.bottom-aside div{
  margin-top: 5px;
  padding-top: 10px;
  border-top: 1px solid #595959;
}

.bottom-aside img,
.smartphone-bot img{
  background-color: #595959;
  border-radius: 50%;
  width: 25px;
  vertical-align: middle;
}

.bottom-aside div span{
  color: white;
}

/* HOVER ASIDE */

.ul-aside li a:hover,
.icon-menu:hover,
.bottom-aside span:hover,
.playlist div:hover{
  color: white;
}



/* /ASIDE */


/* CONTAINER MAIN */

.container{
  padding: 30px;
  padding-top: 80px;
  overflow: auto;
  background-color: #141922;
  width: 100%;
}

.container .premium{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: calc(100% - 250px);
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
}

.premium-btn{
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 40px;
  color: white;
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 50px;
}

.premium-btn:hover{
  transform: scale(120%);
}

.ul-main{
  justify-content: center;
}

.ul-main ul{
  flex-wrap: wrap;
}

.ul-main ul li{
  color: #6f6f6f;
  margin: 10px;
}

.ul-main .active-underline{
  height: 3px;
  width: 30px;
  background-color: #acfe2f;
  margin-left: 35%;
  margin-top: 5px;
}

.ul-main ul li:hover a{
  color: white;
}


.container h4{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container span{
  display: inline-block;
  color: #6f6f6f;
  margin-bottom: 20px;
}

h2{
  padding-top: 30px;
  padding-bottom: 20px;
}



/* /CONTAINER MAIN */

/* /MAIN */


/* FOOTER */

footer{
  height: 100px;
  width: 100%;
  background-color: #282828;
}


.nav-left,
.nav-center,
.nav-right {
  height: 100%;
  align-items: center;
}

.nav-left,
.nav-right {
  width: 250px;
  font-size: 15px;
}

.nav-center {
  width: 40%;
}


.nav-left img{
  width: 50px;
  height: 50px;
}

.nav-left span{
  color: #6f6f6f;
}

.icone-a-destra{
  color: #6f6f6f;
  margin-left: 30px;
}

.comand{
  min-width: 200px;
  align-items: center;
  height: 40px;
}

.canzone-play{
  width: 100%;
  align-items: center;
}

.comand .fa-solid{
  font-size: 20px;
}

.comand .fa-regular{
  font-size: 30px;
}


.barra{
  height: 5px;
  border-radius: 50px;
  background-color: #595959;
  position: relative;
}

.barra-lunga{
  width: 70%;
}

.barra-corta{
  width: 20%;
  background-color: #bfbfbf;
}

.barra-mini{
  width: 50%;
}

.barra-mini-corta{
  width: 20%;
  background-color: #bfbfbf;
}


/* FOOTER HOVER */

.nav-left span:hover{
  text-decoration: underline;
  color: white;
}

.icone-a-destra .fa-heart:hover,
.icone-a-destra .fa-folder:hover{
  color: white;
}

.comand .fa-regular:hover{
  transform: scale(120%);
}

.barra:hover .barra-corta, 
.barra:hover .barra-mini-corta{
  background-color: #acfe2f;
}

.circle{
  position: absolute;
  background-color: #acfe2f;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  left: 19%;
  bottom: -5px;
  display: none;
}

.barra:hover .circle{
  display: inline-block;
}
