
.active{
  color: white;
  border-left: 1px solid #acfe2f;
}

.display-flex{
  display: flex;
}

.column{
  flex-direction: column;
}

.space-between{
  justify-content: space-between;
}

.space-around{
  justify-content: space-around;
}

.space-evenly{
  justify-content: space-evenly;
}

.ul-aside li a,
.ul-main ul li a{
  color: #6f6f6f;
}

.album{
  width: calc((100% - 50px) / 6);
  margin: 5px;
}

.album img{
  width: 100%;
}





/* DEBUG */
/* .debug{
  background-color: rgba(255, 0, 0, .3);
  border: 1px solid black;
}

.h100{
  min-height: 100px;
}
.h300{
  min-height: 300px;
}
.h500{
  min-height: 500px;
} */