
.active{
  color: white;
  border-left: 1px solid #acfe2f;
}

.display-flex{
  display: flex;
}

.column{
  flex-direction: column;
}















/* DEBUG */
/* .debug{
  background-color: rgba(255, 0, 0, .3);
  border: 1px solid black;
}

.h100{
  min-height: 100px;
}
.h300{
  min-height: 300px;
}
.h500{
  min-height: 500px;
} */